<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="DownloadFile" value="doc,zip,rar,xls,docx,txt,pdf" />
    <add key="DownloadFileLength" value="20" />
    <add key="PicManageFile" value="jpg,png,gif" />
    <add key="PicManageFileLength" value="900" />
    <add key="BackGroundFile" value="jpg,png,gif" />
    <add key="BackGroundFileLength" value="100" />
    <add key="NewsClassFile" value="jpg,png,gif" />
    <add key="NewsClassFileLength" value="300" />
    <add key="NewsFile" value="jpg,png,gif" />
    <add key="NewsFileLength" value="300" />
    <add key="ProClassFile" value="jpg,png,gif" />
    <add key="ProClassFileLength" value="300" />
    <add key="ProductFile" value="jpg,png,gif" />
    <add key="ProductFileLength" value="300" />
    <add key="VIPControl" value="0" />
    <add key="BUYControl" value="0" />
    <add key="PLControl" value="0" />
    <add key="ProControl" value="0" />
    <add key="LiuliangControl" value="0" />
    <add key="domainn" value="" />
    <add key="partner" value="" />
    <add key="key" value="" />
    <add key="openid" value="" />
    <add key="watermarktype" value="0" />
    <add key="watermarkposition" value="1" />
    <add key="watermarkimgquality" value="" />
    <add key="watermarkpic" value="" />
    <add key="watermarktransparency" value="" />
    <add key="watermarktext" value="" />
    <add key="watermarkfont" value="Arial" />
    <add key="watermarkfontsize" value="" />
    <add key="WxAppid" value="" />
    <add key="WxMchid" value="" />
    <add key="WxKey" value="" />
    <add key="WxAppsecret" value="" />
    <add key="PayPal" value="" />
    <add key="HuiLv" value="" />
  </appSettings>
  <connectionStrings />
</configuration>