<?xml version="1.0" encoding="utf-8" ?>
<urls>
  <!--首页-->
  <url pattern="default.aspx$" reurl="index.html"></url>

  <!--最终页-->
  <url pattern="about.aspx\?classid=(\d+)$" reurl="html-about-$1.html"></url>

  <!--新闻页-->
  <url pattern="news.aspx\?classid=(\d+)$" reurl="html-news-$1.html"></url>
  <url pattern="news.aspx\?classid=(\d+)&amp;page=(\d+)$" reurl="html-news-$1-$2.html"></url>
  <url pattern="newsdetail.aspx\?id=(\d+)$" reurl="html-newsdetail-$1.html"></url>
  <url pattern="contact.aspx\?classid=(\d+)$" reurl="html-contact.html"></url>

  <!--产品中心-->
  <url pattern="product.aspx$" reurl="html-product.html"></url>
  <url pattern="product.aspx\?page=(\d+)$" reurl="html-product-0-$1.html"></url>
  <url pattern="product.aspx\?typeid=(\d+)$" reurl="html-product-$1.html"></url>
  <url pattern="product.aspx\?typeid=(\d+)&amp;page=(\d+)$" reurl="html-product-$1-$2.html"></url>
  <url pattern="prodetail.aspx\?proid=(\d+)$" reurl="html-productdetail-$1.html"></url>

  <!--图片列表-->
  <url pattern="piclist.aspx\?classid=(\d+)$" reurl="html-piclist-$1.html"></url>
  <url pattern="piclist.aspx\?classid=(\d+)&amp;page=(\d+)$" reurl="html-piclist-$1-$2.html"></url>
  <url pattern="picdetail.aspx\?id=(\d+)$" reurl="html-picdetail-$1.html"></url>

  <!--图片相册-->
  <url pattern="photo.aspx\?classid=(\d+)$" reurl="html-photo-$1.html"></url>
  <url pattern="photo.aspx\?classid=(\d+)&amp;page=(\d+)$" reurl="html-photo-$1-$2.html"></url>

  <!--下载中心-->
  <url pattern="download.aspx\?classid=(\d+)$" reurl="html-down-$1.html"></url>
  <url pattern="download.aspx\?classid=(\d+)&amp;page=(\d+)$" reurl="html-down-$1-$2.html"></url>
  <url pattern="downloaddetail.aspx\?id=(\d+)$" reurl="html-downdetail-$1.html"></url>

  <!--在线留言-->
  <url pattern="message.aspx\?classid=(\d+)$" reurl="html-message.html"></url>

  <!--新闻分类-->
  <url pattern="newsclass.aspx\?classid=(\d+)$" reurl="html-newsclass-$1.html"></url>
  <url pattern="newsclass.aspx\?classid=(\d+)&amp;page=(\d+)$" reurl="html-newsclass-$1-$2.html"></url>

  <!--产品搜索-->
  <url pattern="prosearch.aspx$" reurl="html-search.html"></url>

</urls>

