<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
	<connectionStrings />
	<system.web>
		<httpRuntime maxRequestLength="1024000" requestValidationMode="2.0" />
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="Microsoft.JScript, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" /></assemblies>
		</compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Windows" />
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<globalization requestEncoding="utf-8" responseEncoding="utf-8" />
		<customErrors mode="Off" defaultRedirect="404.htm">
			<error statusCode="403" redirect="404.htm" />
			<error statusCode="404" redirect="404.htm" />
		</customErrors>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" /></system.web>
	<appSettings>
		<!--Connect To MSSQL Database-->
		<add key="Server" value="." />
		<add key="Database" value="onemoss" />
		<add key="UID" value="onemoss" />
		<add key="PWD" value="G5S6b4D7" />
		<!--End-->
	</appSettings>
	<system.webServer>
		<rewrite>
			<rules>
				<rule name="Home" stopProcessing="true">
					<match url="^Home$" />
					<action type="Rewrite" url="default.aspx" />
				</rule>
				<rule name="About" stopProcessing="true">
					<match url="^About/([0-9]+)$" />
					<action type="Rewrite" url="About.aspx?ClassID={R:1}" />
				</rule>
				<rule name="News" stopProcessing="true">
					<match url="^News/([0-9]+)$" />
					<action type="Rewrite" url="News.aspx?ClassID={R:1}" />
				</rule>
				<rule name="NewsPage" stopProcessing="true">
					<match url="^News/([0-9]+)P([_0-9a-z-]+)$" />
					<action type="Rewrite" url="News.aspx?ClassID={R:1}&amp;page={R:2}" />
				</rule>
				<rule name="NewsDetail" stopProcessing="true">
					<match url="^NewsDetail/([0-9]+)$" />
					<action type="Rewrite" url="NewsDetail.aspx?id={R:1}" />
				</rule>
				<rule name="PicList" stopProcessing="true">
					<match url="^PicList/([0-9]+)$" />
					<action type="Rewrite" url="PicList.aspx?ClassID={R:1}" />
				</rule>
				<rule name="PicListPage" stopProcessing="true">
					<match url="^PicList/([0-9]+)P([_0-9a-z-]+)$" />
					<action type="Rewrite" url="PicList.aspx?ClassID={R:1}&amp;page={R:2}" />
				</rule>
				<rule name="PicDetail" stopProcessing="true">
					<match url="^PicDetail/([0-9]+)$" />
					<action type="Rewrite" url="PicDetail.aspx?id={R:1}" />
				</rule>
				<rule name="Download" stopProcessing="true">
					<match url="^Download/([0-9]+)$" />
					<action type="Rewrite" url="Download.aspx?ClassID={R:1}" />
				</rule>
				<rule name="DownloadPage" stopProcessing="true">
					<match url="^Download/([0-9]+)P([_0-9a-z-]+)$" />
					<action type="Rewrite" url="Download.aspx?ClassID={R:1}&amp;page={R:2}" />
				</rule>
				<rule name="DownloadDetail" stopProcessing="true">
					<match url="^DownloadDetail/([0-9]+)$" />
					<action type="Rewrite" url="DownloadDetail.aspx?id={R:1}" />
				</rule>
				<rule name="PicNews" stopProcessing="true">
					<match url="^PicNews/([0-9]+)$" />
					<action type="Rewrite" url="PicNews.aspx?ClassID={R:1}" />
				</rule>
				<rule name="PicNewsPage" stopProcessing="true">
					<match url="^PicNews/([0-9]+)P([_0-9a-z-]+)$" />
					<action type="Rewrite" url="PicNews.aspx?ClassID={R:1}&amp;page={R:2}" />
				</rule>
				<rule name="Product" stopProcessing="true">
					<match url="^Product$" />
					<action type="Rewrite" url="Product.aspx" />
				</rule>
				<rule name="Product1" stopProcessing="true">
					<match url="^Product/([0-9]+)$" />
					<action type="Rewrite" url="Product.aspx?TypeId={R:1}" />
				</rule>
				<rule name="ProductPage" stopProcessing="true">
					<match url="^Product/([0-9]+)P([_0-9a-z-]+)$" />
					<action type="Rewrite" url="Product.aspx?TypeId={R:1}&amp;page={R:2}" />
				</rule>
				<rule name="ProDetail" stopProcessing="true">
					<match url="^ProDetail/([0-9]+)$" />
					<action type="Rewrite" url="ProDetail.aspx?Proid={R:1}" />
				</rule>
				<rule name="Contact" stopProcessing="true">
					<match url="^Contact/([0-9]+)$" />
					<action type="Rewrite" url="Contact.aspx?Classid={R:1}" />
				</rule>
				<rule name="Photo" stopProcessing="true">
					<match url="^Photo/([0-9]+)$" />
					<action type="Rewrite" url="Photo.aspx?Classid={R:1}" />
				</rule>
				<rule name="Message" stopProcessing="true">
					<match url="^Message/([0-9]+)$" />
					<action type="Rewrite" url="Message.aspx?Classid={R:1}" />
				</rule>
				<rule name="login" stopProcessing="true">
					<match url="^login$" />
					<action type="Rewrite" url="login.aspx" />
				</rule>
				<rule name="register" stopProcessing="true">
					<match url="^register$" />
					<action type="Rewrite" url="register.aspx" />
				</rule>
				<rule name="shoppingcart" stopProcessing="true">
					<match url="^shoppingcart$" />
					<action type="Rewrite" url="shoppingcart.aspx" />
				</rule>
				<rule name="fillorders" stopProcessing="true">
					<match url="^fillorders$" />
					<action type="Rewrite" url="fillorders.aspx" />
				</rule>
				<rule name="pay" stopProcessing="true">
					<match url="^pay/([_0-9a-z-]+)$" />
					<action type="Rewrite" url="pay.aspx?orderid={R:1}" />
				</rule>
				<rule name="center" stopProcessing="true">
					<match url="^center$" />
					<action type="Rewrite" url="center.aspx" />
				</rule>
				<rule name="dingdan" stopProcessing="true">
					<match url="^dingdan/([_0-9a-z-]+)$" />
					<action type="Rewrite" url="dingdan.aspx?orderid={R:1}" />
				</rule>
				<rule name="zhifubao" stopProcessing="true">
					<match url="^zhifubao/([_0-9a-z-]+)$" />
					<action type="Rewrite" url="zhifubao.aspx?orderid={R:1}" />
				</rule>
				<rule name="weixin" stopProcessing="true">
					<match url="^weixin/([_0-9a-z-]+)$" />
					<action type="Rewrite" url="weixin/NativePayPage.aspx?orderid={R:1}" />
				</rule>
				<rule name="PayPal" stopProcessing="true">
					<match url="^PayPal/([_0-9a-z-]+)$" />
					<action type="Rewrite" url="PayPal/PayPal.aspx?orderid={R:1}" />
				</rule>
			</rules>
		</rewrite>
       <staticContent>
      <remove fileExtension=".woff"/>
      <mimeMap fileExtension=".woff" mimeType="font/x-font-woff"/>
      <remove fileExtension=".woff2"/>
      <mimeMap fileExtension=".woff2" mimeType="application/x-font-woff"/>
    </staticContent>
	</system.webServer>
</configuration>
